# Environment
python-dotenv

# Neo4j
neo4j

# LangChain core ecosystem
langchain
langchain-community
langsmith

# Ollama integration (nuovo stile, evita deprecated)
langchain-ollama

# Vector store / embeddings
faiss-cpu

# HTTP / web search (Tavily)
tavily-python

# Text download and extraction from web page
trafilatura

# Embedding
torch

# Transformers
transformers

# Scikit learn
scikit-learn

# Accelerate
accelerate